
<mat-icon class="close-button" (click)="closePreview()">close</mat-icon>
<mat-grid-tile-header>
    <h1 mat-dialog-title>
        {{data.title}}
    </h1>
</mat-grid-tile-header>

<mat-dialog-content>

    <div class="justify-content-center">
    <div *ngIf="data.ext == 'pdf' || data.ext == 'docx' || data.ext == 'xlsx' || data.ext == 'pptx'; else img">
        <div class="d-flex"> <pdf-viewer [src]="data.url" [render-text]="true" ></pdf-viewer></div>
    </div>

    <ng-template #img>
        <div *ngIf="data.ext == 'png' || data.ext == 'jpg' || data.ext == 'jpeg' || data.ext == 'gif'; else mp4">
            <img [src]="data.url" [alt]="data.title">
        </div>
    </ng-template>

    <ng-template #mp4>
        <div *ngIf="data.ext == 'mp4'; else ErrorDialog">
            <video controls>
                <source [src]="data.url" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </ng-template>

        <ng-template #ErrorDialog>
            <div class="justify-content-center">
                <mat-grid-list cols="4" rowHeight="7rem">
                    <mat-grid-tile rowspan="1" colspan="4">
                        <mat-icon class="unviable">report_problem</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile rowspan="1" colspan="4">
                        <h1> Anteprima non disponibile</h1>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

        </ng-template>
    </div>
</mat-dialog-content>

